<!DOCTYPE html>
<html>
<head>
  <title>Create a New Student</title>
</head>
<body>
  <h1>Use this form to create new students</h1>
  <form action="/students" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="age" placeholder="Age">
    <button type="submit">Save</button>
  </form>
</body>
</html>