body {
  border: 5px;
  margin: 5px;
  height: 100%;
  width: 75%;
  text-align: center;
  display: inline-block;
}

h1 {
  text-align: center;
}

.glasses {
  position: absolute;
  margin-top: 230px;
  margin-left: 45px;
  text-align: center;
}

.hat {
  position: absolute;
  margin-top: 45px;
}

.octopus {
  position: fixed;
  margin-top: 130px;
  z-index: -1;
}
